h1 {
    text-align: center;
    margin-top: 5px;
    color: #fff;
}

h5 {
    text-align: center;
}

input {
    text-align: center;
}

.container_especial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert{
    text-align: center;
}

.title-container {
    padding: 10px;
    width: 100%;
    height: 100px;
    background: rgb(131, 58, 180);
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    margin-top: 0;
    margin-bottom: 35px;
}

.title-container p {
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
}

.card-header {
    background: rgb(131, 58, 180);
    color: #fff;
}

.especial {
    background:  rgb(179, 110, 37);
}

table {
    text-align: center;
}