h1 {
    text-align: center;
    margin-top: 5px;
    color: #fff;
}

.alert{
    text-align: center;
}

.title-container {
    padding: 10px;
    width: 100%;
    height: 100px;
    background: rgb(131, 58, 180);
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    margin-top: 0;
    margin-bottom: 35px;
}

.title-container p {
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
}

h5 {
    text-align: center;
}

table {
    text-align: center;
}